@import url(https://fonts.googleapis.com/css?family=Questrial|Varela+Round);


body, html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Lato';
  font-weight: 900;
  color: #ffffff;
  background-color: #0097a7;
  position: relative;
  margin: 0%;
  padding-left: 3em;
  padding-right: 3em;
}

ul {
    list-style-type: none !important;
}

#navbar {
        color: #ffffff;
        z-index: 9;
        display: block;
        line-height: 1.75;
        font-size: 1.25em;
        float: right;
        position: fixed;
        right: 0;
        top: 0;
        padding: 3em;
}

#navbar a {
    text-decoration: none;
    color: inherit;
    transition: color .75s ease-in-out;
    -moz-transition: color .75s ease-in-out;
    -webkit-transition: color .75s ease-in-out;
}

.div-content {
    display: block;
    position: fixed;
    min-height: 100vh;
    max-height: 100vh;
    justify-content: left;
    padding-top: 35vh;
    padding-left: 5vh;
    width: 100%;
    max-width: 110vh;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Questrial', sans-serif;
}

.div-content p{
    color: #ffffff;
    font-size: 0.5em;
    font-weight: 300;
}
